@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: rgb(182, 222, 255);
    background-color: #F0F7FF;
    width: fit-content;
}
  
.bg-primary {
    background-color: var(--primary);
}

.body {
    background-color: #F0F7FF;
}
  